@model web_avanzada_fe.Entities.Duenno

@{
    ViewData["Title"] = "Actualizar Dueño";
}

@using (Html.BeginForm("ActualizarDuenno", "Duenno", FormMethod.Post, new { @Class = "row g-3" }))
{
<div class="container mt-5">
        <div class="text-center">
            <h3>Actualizar Dueño</h3>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label class="form-label">Cédula</label> <span style="color:red"> * </span>
                @Html.TextBoxFor(Model => Model.idDueno, new
           {
               @Class = "form-control",
               required = "required",
               onblur = "informacion_personal(this.value)",
               onChange = "VerificarEspacios()",
               autocomplete = "off",
               @onkeypress = " return validarNumeros(event);",
               maxlength = 9
           })

                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Nombre</label><span style="color:red">* </span>
                @Html.TextBoxFor(Model => Model.NombreD, new { @Class = "form-control", @style = "width:100%;", id = "nombres", onblur = "VerificarEspaciosNombre()", required = "required" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Apellidos</label><span style="color:red">* </span>
                @Html.TextBoxFor(Model => Model.ApellidosD, new { @Class = "form-control", id = "apellidos", onblur = "VerificarEspaciosApellido()", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="form-label">Número de Teléfono</label><span style="color:red">* </span>
                <span>
                    @Html.TextBoxFor(Model => Model.NumeroTelefono, new { @Class = "form-control", onblur = "VerificarEspaciosContra()", required = "required" })
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label">Correo</label><span style="color:red">* </span>
                @Html.TextBoxFor(Model => Model.Correo, new { @Class = "form-control", required = "required", oninput = "ValidateEmail(this.value)", onblur = "ValidateEmail_onBlur(this.value)" })
                <label class="bagde badge-danger" id="correo_label"></label>
            </div>
        </div>
        @* Html.Label("", (string)ViewBag.mensajeErrorEmpleado, new { @class = "badge badge-danger" })*@
        <div class="row mt-3">
            <div class="col-md-4">
                <input type="submit" value="Actualizar Dueño..." class="btn btn-success">
            </div>

        </div>
    </div>
    }



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}