@model web_avanzada_fe.Entities.Duenno

@{
    ViewData["Title"] = "Registro Dueño";
}
@using (Html.BeginForm("RegistrarDuenno", "Duenno", FormMethod.Post, new { @Class = "row g-3" }))
{
<div class="container mt-5">
        <div class="text-center">
            <h3>Registrar Dueño</h3>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label class="form-label">Cédula</label> <span style="color:red"> * </span>
                @Html.TextBoxFor(Model => Model.idDueno, new
           {
               @Class = "form-control",
               required = "required",
               onblur = "informacion_personal(this.value)",
               onChange = "VerificarEspacios()",
               autocomplete = "off",
               @onkeypress = " return validarNumeros(event);",
               maxlength = 9
           })

                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Nombre</label><span style="color:red">* </span>
                @Html.TextBoxFor(Model => Model.NombreD, new { @Class = "form-control", @style = "width:100%;", onblur = "VerificarEspaciosNombre()", required = "required" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Apellidos</label><span style="color:red">* </span>
                @Html.TextBoxFor(Model => Model.ApellidosD, new { @Class = "form-control", onblur = "VerificarEspaciosApellido()", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="form-label">Número de Teléfono</label><span style="color:red">* </span>
                <span>
                    @Html.TextBoxFor(Model => Model.NumeroTelefono, new { @Class = "form-control",   onkeypress = " return validarNumeros(event);", required = "required",maxlength = 8 })
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label">Correo</label><span style="color:red">* </span>
                @Html.TextBoxFor(Model => Model.Correo, new { @Class = "form-control", required = "required", oninput = "ValidateEmail(this.value)", onblur = "ValidateEmail_onBlur(this.value)" })
                <label class="bagde badge-danger" id="correo_label"></label>
            </div>
        </div>
         @Html.Label("", (string)ViewBag.mensajeErrorDuenno, new { @class = "badge badge-danger" })
        <div class="row mt-3">
            <div class="col-md-4">
                <input type="submit" value="Registrar Dueño..." class="btn btn-success">
            </div>

        </div>
    </div>
    }

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script src="~/js/Duenno.js" asp-append-version="true"></script>

}

