@model web_avanzada_fe.Entities.Empleado

@{
    ViewData["Title"] = "Actualizar Empleado";
}

<br/>
@using (Html.BeginForm("ActualizarEmpleado", "Empleado", FormMethod.Post, new { @Class = "row g-3" }))
{
<div class="container mt-5">

        <div class="text-center">
            <h3>Actualizar Empleado</h3>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label class="form-label">Cédula</label> <span style="color:red"> * </span>
                @Html.TextBoxFor(Model => Model.idEmpleado, new
           {
               @Class = "form-control",
               required = "required",
               @readonly="readonly",
               onblur = "informacion_personal(this.value)",
               onChange = "VerificarEspacios()",
               autocomplete = "off",
               @onkeypress = " return validarNumeros(event);",
               maxlength = 9
           })

                @Html.Label("", (string)ViewBag.mensaje, new { @Class = "badge badge-danger" })
                @Html.Hidden("mensaje", (string)ViewBag.mensaje, new { @Class = "badge badge-danger" })


            </div>
            <div class="col-md-6">
                <label class="form-label">Tipo de Usuario</label><span style="color:red">* </span>
                  @Html.DropDownListFor(model =>model.idRol, ViewBag.listaRoles as SelectList,"Seleccione un rol", new {@class="form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Nombres</label><span style="color:red">* </span>
                @Html.TextBoxFor(Model => Model.NombreE, new { @Class = "form-control", @style = "width:100%;", id = "nombres", onblur = "VerificarEspaciosNombre()", required = "required" })
            </div>
            <div class="col-md-6">
                <label class="form-label">Apellidos</label><span style="color:red">* </span>
                @Html.TextBoxFor(Model => Model.ApellidosE, new { @Class = "form-control", id = "apellidos", onblur = "VerificarEspaciosApellido()", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="form-label">Contraseña</label><span style="color:red">* </span>
                <span>
                    @Html.TextBoxFor(Model => Model.Contrasenna, new { @Class = "form-control", onblur = "VerificarEspaciosContra()", required = "required" })
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <label class="form-label">Correo</label><span style="color:red">* </span>
                @Html.TextBoxFor(Model => Model.Correo, new { @Class = "form-control", required = "required", oninput = "ValidateEmail(this.value)", onblur = "ValidateEmail_onBlur(this.value)" })
                <label class="bagde badge-danger" id="correo_label"></label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <input type="submit" value="Actualizar Empleado..." class="btn btn-success">
            </div>

        </div>
    </div>
    }



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
     <script src="~/js/Empleado.js" asp-append-version="true"></script>
}
}
