@model IEnumerable<web_avanzada_fe.Entities.Empleado>

@{
    ViewData["Title"] = "Listado de Empleados";    
}
<br/>
<div class="container mt-5">
    <div class="text-center">
        <h3>Lista de Empleados</h3>
    </div>
</div>
<table class="table" id="listaEmpleados">
    <thead>
        <tr>
            <th>
                Cédula
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Rol
            </th>
            <th>
                Correo Eléctronico
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidosE)
            </td>
                @if (item.idRol == 1)
                {
                    <td>
                Administrador
                    </td>

                }
                else if (item.idRol == 2)
                {
                   <td>
                Veterinario
                   </td> 
                }else{
            <td>
                Asistente
            </td>

                }
               
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                  <input type="button" value="Actualizar" class="btn btn-warning" onclick="location.href = '@Url.Action("ActualizarEmpleado", "Empleado",  new {  idEmpleado=item.idEmpleado  })'" />
                 <input type="button" value="Eliminar" class="btn btn-danger" onclick="location.href = '@Url.Action("EliminarEmpleado", "Empleado",  new {  idEmpleado=item.idEmpleado  })'"  />

            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
@section scripts
{
     <script src="~/js/Funciones.js" asp-append-version="true"></script>
}



