@model IEnumerable<web_avanzada_fe.Entities.Empleado>

@{
    ViewData["Title"] = "Listado de Empleados";    
}
<div class="container mt-5">
    <div class="text-center">
        <h3>Lista de Empleados</h3>
    </div>
</div>
<table class="table" id="listaEmpleados">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidosE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidosE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                 @Html.ActionLink("Actualizar Empleado", "ActualizarEmpleado","Empleado", new {  idEmpleado=item.idEmpleado  }) |
                @Html.ActionLink("Eliminar Empleado", "EliminarEmpleado","Empleado", new {  idEmpleado=item.idEmpleado  })
            </td>
        </tr>
}
    </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
@section scripts
{
     <script src="~/js/Funciones.js" asp-append-version="true"></script>
}



