
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_avanzada_fe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/Datatables/Datatables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/web_avanzada_fe.styles.css" asp-append-version="true" />
     @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">web_avanzada_fe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="ListaEmpleados">Empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Empleado" asp-action="RegistrarEmpleado">Registrar Empleado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Duenno" asp-action="ListaDuennos">Dueños</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Duenno" asp-action="RegistrarDuenno">Registrar Dueño</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cita" asp-action="ListaCitas">Citas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cita" asp-action="RegistrarCita">Registrar Cita</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mascota" asp-action="RegistrarMascota">Mascotas</a>
                        </li>
                        @{if (Context.Session.GetString("Token")==null)
                        {
                                      <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="InicioSesion">Iniciar Sesión</a>
                                    </li>  
                        }}

                            @{
                                if (Context.Session.GetString("Token")!=null)
                        {
                                  <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="CerrarSesion">Cerrar Sesión</a>
                                </li>  

                        }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @*
    //<nav class="navbar navbar-expand-lg navbar-light bg-light">
    //    @Html.ActionLink("Veterinaria", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    //    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    //        <span class="navbar-toggler-icon"></span>
    //    </button>
    //    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    //        <ul class="navbar-nav mr-auto">


    //            @if (Context.Session.GetString("Token") != null)
    //            {

    //                <li class="nav-item dropdown">
    //                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    //                        Citas
    //                    </a>
    //                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    //                        @if (Context.Session.GetString("Rol") != null)
    //                        {
    //                            <a href="@Url.Action("SeleccionarUnaCita", "Cita")" class="dropdown-item">
    //                                <span>Seleccionar Una Cita</span>
    //                            </a>
    //                            <a href="@Url.Action("SeleccionarCitas", "Cita")" class="dropdown-item">
    //                                <span>Seleccionar Citas</span>
    //                            </a>
    //                        }

    //                        @if (Context.Session.GetString("Rol").ToString() == "1" || (Context.Session.GetString("Rol").ToString() == "2"))
    //                        {
    //                            <a href="@Url.Action("RegistrarCita", "Cita")" class="dropdown-item">
    //                                <span>Registrar Cita</span>
    //                            </a>
    //                        }
    //                    </div>
    //                </li>



    //                if (Context.Session.GetString("Rol").ToString() == "1")
    //                {
    //                    <li class="nav-item dropdown">
    //                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    //                            Empleados
    //                        </a>
    //                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    //                            <a href="@Url.Action("ListaEmpleados", "Empleado")" class="dropdown-item">
    //                                <span>Seleccionar Empleados</span>
    //                            </a>
    //                            <a href="@Url.Action("RegistrarEmpleado", "Empleado")" class="dropdown-item">
    //                                <span>Registrar Empleados</span>
    //                            </a>
    //                        </div>
    //                    </li>
    //                }
    //                <li class="nav-item dropdown">
    //                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    //                        Mascotas
    //                    </a>

    //                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    //                        @if (Context.Session.GetString("Rol") != null)
    //                        {
    //                            <a href="@Url.Action("RegistrarMascota", "Mascota")" class="dropdown-item">
    //                                <span>Seleccionar Pacientes</span>
    //                            </a>
    //                        }
                            
    //                        @if (Context.Session.GetString("Rol").ToString() == "1" ||Context.Session.GetString("Rol").ToString() == "3")
    //                        {
    //                            <a href="@Url.Action("RegistrarPaciente", "Paciente")" class="dropdown-item">
    //                                <span>Registrar Pacientes</span>
    //                            </a>
    //                        }
    //                    </div>
    //                </li>


    //                if (Context.Session.GetString("Rol").ToString() == "1")
    //                {
    //                    <li class="nav-item active">
    //                        <a class="nav-link" href="@Url.Action("SeleccionarBitacora", "Empleado")">
    //                            <span>
    //                                Bitácora
    //                            </span>
    //                        </a>
    //                    </li>
    //                    }
    //                }
    //            </ul>
    //    </div>
    //    @if (Context.Session.GetString("Token") == null)
    //    {
    //        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    //            <ul class="navbar-nav ml-auto">
    //                <li class="nav-item active">
    //                    <a class="nav-link" href="@Url.Action("InicioSesion", "Login")">
    //                        <span>
    //                            Inicio Sesión
    //                        </span>
    //                    </a>
    //                </li>
    //            </ul>
    //        </div>

    //    }
    //    else
    //    {
    //        <div class="navbar-collapse collapse w-80 dual-collapse2">
    //            <ul class="navbar-nav ml-auto">
    //                <li class="nav-item active">
    //                    <a class="nav-link" href="@Url.Action("CerrarSesion", "Login")">
    //                        <span>
    //                            Cerrar Sesión
    //                        </span>
    //                    </a>
    //                </li>
    //            </ul>
    //        </div>
    //    }
    //</nav>
    *@ 

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Datatables/Datatables.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
